.BTcatalog {
  background-color: antiquewhite;
  border-color: rgb(96, 118, 112);
  color: black;
}

.p-card, .h6card, h6 {
  color: black;
}

.colorTexto {
  color: rgb(96, 118, 112);
}

.bg {
  background-color: rgba(250, 235, 215, 0.678);
}

.imgLogo {
  max-width: 48%;
  height: auto;
}

.imgFluid {
  width: 80%;
  height: auto;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.imgFoo, .logoFoo {
  width: 30%;
  height: auto;
}

.logoFoo {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .logoFoo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@font-face {
  font-family: "marxiana";
  src: url(../fonts/TT\ Marxiana\ Trial\ Antiqua.ttf);
}
@font-face {
  font-family: "flower";
  src: url(../fonts/MADE\ Sunflower\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: "duke";
  src: url(../fonts/Duke\ Charming\ DEMO.otf);
}
.f-titulos {
  font-family: "duke" !important;
}

.f-secundaria {
  font-family: "flower" !important;
}

.f-parrafos {
  font-family: "marxiana" !important;
}

.m0 {
  margin: 0px;
}

.m1 {
  margin: 5px;
}

.m2 {
  margin: 10px;
}

.m3 {
  margin: 15px;
}

.m4 {
  margin: 20px;
}

.m5 {
  margin: 25px;
}

.m6 {
  margin: 30px;
}

.m7 {
  margin: 35px;
}

.m8 {
  margin: 40px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.mt0 {
  margin-top: 0px;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.ml0 {
  margin-left: 0px;
}

.ml1 {
  margin-left: 5px;
}

.ml2 {
  margin-left: 10px;
}

.ml3 {
  margin-left: 15px;
}

.ml4 {
  margin-left: 20px;
}

.ml5 {
  margin-left: 25px;
}

.ml6 {
  margin-left: 30px;
}

.ml7 {
  margin-left: 35px;
}

.ml8 {
  margin-left: 40px;
}

.ml0 {
  margin-right: 0px;
}

.ml1 {
  margin-right: 5px;
}

.ml2 {
  margin-right: 10px;
}

.ml3 {
  margin-right: 15px;
}

.ml4 {
  margin-right: 20px;
}

.ml5 {
  margin-right: 25px;
}

.ml6 {
  margin-right: 30px;
}

.ml7 {
  margin-right: 35px;
}

.ml8 {
  margin-right: 40px;
}

.p1 {
  padding: 10px;
}

.p2 {
  padding: 20px;
}

.p3 {
  padding: 30px;
}

.p4 {
  padding: 40px;
}

.p5 {
  padding: 50px;
}

.p6 {
  padding: 60px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb1 {
  padding-bottom: 10px;
}

.pb2 {
  padding-bottom: 20px;
}

.pb3 {
  padding-bottom: 30px;
}

.pb4 {
  padding-bottom: 40px;
}

.pb5 {
  padding-bottom: 50px;
}

.pt0 {
  padding-top: 0px;
}

.pt1 {
  padding-top: 10px;
}

.pt2 {
  padding-top: 20px;
}

.pt3 {
  padding-top: 30px;
}

.pt4 {
  padding-top: 40px;
}

.pt5 {
  padding-top: 50px;
}

.pr0 {
  padding-right: 0px;
}

.pr1 {
  padding-right: 10px;
}

.pr2 {
  padding-right: 20px;
}

.pr3 {
  padding-right: 30px;
}

.pr4 {
  padding-right: 40px;
}

.pr5 {
  padding-right: 50px;
}

.pl0 {
  padding-left: 0px;
}

.pl1 {
  padding-left: 10px;
}

.pl2 {
  padding-left: 20px;
}

.pl3 {
  padding-left: 30px;
}

.pl4 {
  padding-left: 40px;
}

.pl5 {
  padding-left: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

ul {
  color: rgb(93, 148, 148);
}

.ulCrea {
  color: black;
  text-align: center;
  list-style-type: none;
  font-size: 25px;
}

.h6Crea, .h3Crea {
  color: rgb(135, 108, 98);
  font-size: 35px;
}

.h3Crea {
  color: rgb(96, 118, 112);
}

h5 {
  font-size: 35px;
  text-align: center;
}

h6 {
  font-weight: 600;
}

.h6card {
  font-weight: 0;
}

.card-title {
  font-weight: bold;
}

.p-card, h6, .h6card {
  font-size: 23px;
  text-align: center;
}

.p-foo, .textFoo {
  font-size: 25px;
  text-align: center;
}

.textFoo {
  text-align: justify;
}

h2, h3 {
  font-size: 30px;
  text-align: center;
}

.navs {
  font-size: 25px;
  color: rgb(96, 118, 112);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: auto;
}

.p-nosotros {
  text-align: justify;
  font-size: 30px;
  margin: 3%;
  margin-bottom: 4%;
}

.h3-nosotros {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

@media screen and (min-width: 1024px) {
  p:not(.p-card, h6, .h6card, .p-foo, .textFoo, .p-nosotros) {
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  p, .p-nosotros {
    font-size: 20px;
    text-align: justify;
  }
  .p-nosotros {
    margin: 6%;
  }
  .navs {
    font-size: 25px;
    color: rgb(96, 118, 112);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  h5:not(.card-title) {
    font-size: 25px;
    text-align: center;
  }
}
.navs a:hover {
  background-color: rgb(239, 213, 200);
  transition: all 0.4s;
  border-radius: 15px;
  font-size: 30px;
}

.imgCard {
  width: 55%;
  height: auto;
  margin: auto;
}

.cardCreaciones {
  border-radius: 45px;
  color: rgba(96, 118, 112, 0.301);
}

.cardIni, .cardCreaciones {
  background-color: rgba(96, 118, 112, 0.301);
  color: rgb(135, 108, 98);
}

.cardscrea {
  background-color: antiquewhite;
  border-radius: 40px;
  border-style: none;
}

@media screen and (min-width: 1024px) {
  .creaciones {
    margin: auto;
    padding-right: 0;
    padding: 24%;
    padding-top: 0;
    padding-bottom: 35px;
  }
  .cardCrea {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .h6Crea, .h3Crea {
    padding-top: 10px;
  }
  .ulCrea {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .imgCard {
    width: 100%;
  }
  .creaciones {
    margin: auto;
    padding-right: 0;
    padding: 15px;
  }
  .h6Crea, .h3Crea, .ulCrea {
    margin: 0;
    padding: 0;
    padding-left: 0;
  }
  .cardCrea {
    padding-bottom: 25px;
  }
  .h6Crea, .h3Crea {
    padding-top: 38px;
  }
  .ulCrea {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
