//VARIABLES PARA LOS COLORES
$bgPrin: rgba(250, 235, 215, 0.678);
$bgSec: rgba(96, 118, 112, 0.301);
$bgTer: antiquewhite;
$textCard: rgb(135, 108, 98);
$colorTexto: rgb(93, 148, 148);  
$TextBackup: rgb(96, 118, 112);

//CREANDO CLASES PARA LOS COLORES
.BTcatalog{
    background-color: $bgTer;
    border-color: $TextBackup;
    color: black;
}
.p-card{
    color: black;
}
.colorTexto{
    color: $TextBackup;
} 
.bg{
    background-color: $bgPrin;
}