.imgLogo{
     max-width: 55%;
     height: auto;
}
.imgFluid{
     width: 75%;
     height: auto;
}
.imgCard{
     max-width: 55%;
     height: auto;
}
.imgFoo{
     width: 25%;
     height: auto;
}
.imgCarrusel{
     margin-right: 0;
     display: flex;
     justify-content: center;
}