.imgLogo{
     max-width: 55%;
     height: auto;
}
.imgFluid{
     width: 80%;
     height: auto;
}
.imgCard{
     max-width: 55%;
     height: auto;
     margin-right: 0;
     display: flex;
     justify-content: center;
}
.imgFoo{
     width: 25%;
     height: auto;
}
//.Centerimg{     
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    flex: auto;
//}