.imgLogo{
     max-width: 48%;
     height: auto;
}
.imgFluid{
     width: 80%;
     height: auto;
     border-radius: 40px;
     display: flex;
     flex: auto;
     justify-content:center;
}
.imgCard{
     max-width: 55%;
     height: auto;
     margin-right: 0;
     display: flex;
     justify-content: center;
}
.imgFoo{
     width: 30%;
     height: auto;
}
.logoFoo{
     @extend .imgFoo;
     width:45% ;
}
//.Centerimg{     
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    flex: auto;
//}