
h1{
    text-align: center;
    font-size: 50px;
}
ul{
    color: $colorTexto;
}
.ulCrea{
    color: black;
    text-align: center;
    list-style-type: none;
    font-size: 25px;
}
.h6Crea{
    color: $textCard;
    font-size: 35px;

}
.h3Crea{
    @extend .h6Crea;
    color: $TextBackup
}
h5{
    font-size: 35px;
    text-align: center;
}
h6{
    @extend .p-card;
    font-weight:600;
}
.h6card{
    @extend .p-card;
    font-weight:0;
}
.card-title{
    font-weight: bold;
}
.p-card{
    font-size: 23px;
    text-align: center;
}

.p-foo{
    font-size: 25px;
    text-align: center;
}
.textFoo{
    @extend .p-foo;
    text-align:justify;
    
}
h2, h3{
    font-size: 30px;
    text-align: center;
}
.p-nosotros{
    text-align: justify;
    font-size: 30px;
    margin: 3%;
    margin-bottom: 4%;
}
.h3-nosotros{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

@media screen and (min-width:1024px){
    p:not(.p-card, .textFoo, .p-foo, .p-nosotros){
        font-size: 30px;
        text-align: center;
    }
}
.h5conta{
    color: $TextBackup;
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}
.h4conta{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-top: solid;
}
.flexConta a:visited{ 
    color: $colorTexto;
}
@media screen and (max-width:768px){
    p, .p-nosotros{
        font-size: 20px;
        text-align: justify;
    }
    .p-nosotros{
        margin: 6%
    }
    .navs{
        font-size: 25px;
        color: $TextBackup;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    h5:not(.card-title, .h5conta){
        font-size: 25px;
        text-align: center;
    }
    .navs li{
        display: flex;
        justify-content: end;
        padding-right: 30px;
    }
    .h5conta{
        font-size: 30px;
    }
    .imgConta{
        height: auto;
     max-width: 25%;
     padding: 20px;
     padding-right: 15px;
    }
    .cardConta{
        padding: 10px;
    }
    .divConta{
        padding: 20px;
    }
}
